Documentation/*.aux
Documentation/*.log
Documentation/*.out
Documentation/*.synctex.gz
Documentation/UserManual/UserManual.log
Documentation/UserManual/UserManual.aux
Documentation/UserManual/UserManual.out
Documentation/UserManual/UserManual.synctex.gz
Documentation/UserManual/UserManual.toc
Testing/SystemAndUnitTestReport.aux
Testing/SystemAndUnitTestReport.log
Testing/SystemAndUnitTestReport.out
Testing/SystemAndUnitTestReport.synctex.gz
Documentation/Sprint2/Sprint-2.aux
Documentation/Sprint2/Sprint-2.log
Documentation/Sprint2/Sprint-2.out
Documentation/Sprint2/Sprint-2.synctex.gz

Source/main_temp.html
.DS_Store
